@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap");
.health-section {
  background-color: #fafafa;
}
.health-digit-heading p {
  font-size: 15px;
  color: #2d1f44;
}
.health-Digital-Marketing .container-fluid {
  width: 90%;
}

.bottom-underline {
  width: 80px;
  height: 2px;
  background-color: #7d1ae2;
  margin-bottom: 20px;
}
.health-dig-para {
  background-color: #dbd0f5;
  border-top-left-radius: 10px;
  padding: 130px 80px 130px 60px;
}
@media (min-width: 1560px) {
  #topHeading {
    font-size: 50px;
  }
}
@media screen and (min-width: 1480px) and (max-width: 1540px) {
  #topHeading {
    font-size: 40px;
    padding-right: 20px;
  }
  #socialMedia {
    height: 210px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1440px) {
  #topHeading {
    font-size: 35px;
    padding-right: 20px;
  }
}
.health-dig-para1 {
  background-color: #dbd0f5;
  padding: 190px 80px 190px 60px;
}
#topHeading {
  line-height: 1.5;
  font-family: Poppins;
  font-weight: bolder;
  text-align: center !important;
  color: white;
  text-transform: uppercase;
}
.health-dig-para h4 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}

.health-care-content {
  margin-top: 8rem;
}

.health-care-content img {
  width: 100%;
  height: 100%;
}
.concl-heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  color: #974a96;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
}

.concl-heading div {
  height: 2px;
  width: 100%;
  margin-left: 16px;
  background-color: #191a23;
}

.conclusion p {
  text-align: center;
}

.health-care-why-choose {
  margin: 40px 0px;
}
.healthcareTopPara {
  font-size: 15px !important;
  margin-bottom: 25px;
  font-weight: Regular 400;
  line-height: 1.8;
  color: #2f2144;
  text-align: left !important;
}

.health-why-novatales h2 {
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 25px;
  margin-top: 80px;
  font-weight: bold;
}
@media (max-width: 1050px) {
  #topHeading {
    font-size: 40px;
  }
  #healthpagebanner {
    width: 550px;
  }
}
@media (max-width: 800px) {
  #topHeading {
    font-size: 36px;
  }
}
@media (max-width: 500px) {
  #topHeading {
    font-size: 30px;
  }
  .accordion__btn {
    font-size: 1.1rem !important;
  }
  .healthcareTopPara {
    padding: 0px 20px;
  }
  #healthpagebanner {
    width: 380px;
  }
}
@media screen and (max-width: 374px) {
  .responsive-height {
    height: 450px;
  }
  .healthcareTopPara {
    padding: 0px 12px;
  }
}

@media (min-width: 660px) {
  .responsive-height {
    height: 550px;
  }
  .healthcareTopPara {
    padding: 0px 12px;
  }
}
/* MD */
@media (min-width: 768px) {
  .responsive-height {
    height: 450px;
  }
  .healthcareTopPara {
    padding: 0px 12px;
  }
}
/* LG */
@media (min-width: 992px) {
  .responsive-height {
    height: 450px;
  }
  .landing-health-care {
    padding: 60px 60px 0;
  }
  .healthcareTopPara {
    padding: 0px 12px;
  }
}
/* XL */
@media (min-width: 1200px) {
  .responsive-height {
    height: 470px;
  }
}
/* XXL */
@media (min-width: 1400px) {
  .responsive-height {
    height: 460px;
  }
}
@media (min-width: 1536px) {
  .responsive-height {
    height: 480px;
  }
}
.health-why-novatales span {
  color: #fec436;
}
.content-background p {
  width: 90%;
}
.landing-health-care {
  height: auto;
  margin-top: 80px;
  background-image: linear-gradient(to left, #831ddd, #fec436);
  padding: 60px 30px 0;
}
.landing-health-care .healhcare-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 80%;
}
.landing-health-care h2 {
  position: relative;
  top: 200px;
  line-height: 1.5;
  font-family: "Outfit", sans-serif;
  color: white;
  font-weight: bolder;
  font-size: 3vw;
}

.landing-health-care button {
  position: relative;
  top: 200px;
  background-color: transparent;
  outline: none;
  border: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: 500;
}

.accordion {
  width: 100%;
  border-radius: 20px;
  margin: 40px 0px;
  color: #2f2143;
 border: 2px solid #52377b;
 overflow: hidden;
}

.accordion__heading {
  margin-bottom: 1rem;
  padding: 0 1.4rem;
}

.accordion__item:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

.accordion__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: white;
  border: none;
  outline: none;
  color: var(--color-text);
  font-size: 1.2rem;
  text-align: left;
  cursor: pointer;
  transition: 0.1s;
}

.accordion__btn:hover {
  color: var(--color-purple);
  background: hsl(248, 53%, 97%);
}

.accordion__item--active .accordion__btn {
  color: var(--color-purple);
  border-bottom: 2px solid var(--color-purple);
  background: hsl(248, 53%, 97%);
}

.fa-lightbulb {
  padding-right: 1rem;
}

.accordion__icon {
  border-radius: 50%;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
  opacity: 0.9;
}

.accordion__item--active .accordion__icon {
  transform: rotate(135deg);
}

.accordion__content {
  font-weight: 300;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 12px 18px;
  color: var(--color-text-muted);
  transform: translateX(16px);
  transition: max-height 0.5s ease, opacity 0.5s, transform 0.5s;
}

.accordion__content p {
  padding: 1rem 1.8rem;
}

.accordion__item--active .accordion__content {
  opacity: 1;
  transform: translateX(16px);
  transition: max-height 0.5s ease, opacity 0.5s, transform 0.5s;
  max-height: 100vh;
}

/*-Why choose Strategy-*/
.whyStrategies {
  padding: 80px 0px 0px;
  width: 80%;
  margin: auto;
  
}
.whyStrategies .whyStrategiesHeading h2 {
  text-align: center;
  margin: auto;
  color: rgb(82, 55, 123);
  line-height: 50px;
  font-weight: bold;
}
.whyStrategies .whyStrategiesContent {
  margin: 60px auto;
  padding: 40px 0px;
}
/* .whyStrategies .whyStrategiesContent .content
{
  width: 80%;
  margin: auto;
} */
@media screen and (min-width: 1810px) {
  .whyStrategies .whyStrategiesHeading h2 {
    width: 40%;
  }
  .whyStrategies {
    width: 80%;
    margin: auto;
  }
  .whyStrategies .whyStrategiesContent {
    margin: 60px auto;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1809px) {
  .whyStrategies .whyStrategiesHeading h2 {
    width: 50%;
  }
  .whyStrategies {
    width: 100%;
    margin: auto;
  }
  .whyStrategies .whyStrategiesContent {
    margin: 80px auto;
    margin-left: 40px;
  }
  .content p 
  {
      width: 95%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .whyStrategies .whyStrategiesHeading h2 {
    width: 70%;
  }
}
